<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Hello, World Application</display-name>
    <description>
	This is a simple web application with a source code organization
	based on the recommendations of the Application Developer's Guide.
    </description>
    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>servlets.MyServlet</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>CompileServlet</servlet-name>
		<servlet-class>servlets.CompileServlet</servlet-class>
	</servlet>
    <servlet>
		<servlet-name>FillServlet</servlet-name>
		<servlet-class>servlets.FillServlet</servlet-class>
	</servlet>
    <servlet>
		<servlet-name>PdfServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.PdfServlet</servlet-class>
	</servlet>

    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/servlets/MyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
		<servlet-name>CompileServlet</servlet-name>
		<url-pattern>/servlets/compile</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
		<servlet-name>FillServlet</servlet-name>
		<url-pattern>/servlets/fill</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PdfServlet</servlet-name>
		<url-pattern>/servlets/pdf</url-pattern>
	</servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

</web-app>
